*{
    margin : 0;
    padding : 0; 
    box-sizing: border-box;
    font-family: 'aeonik' ,sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height:100%;
    width:100%;
    background-color:white;
}
#first-page{
    height: 100%;
    width: 100%;
}
#nav{
    width: 100%;
    margin-top: 10px;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navpart1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
#navpart1 img{
    width:18px;
    height: 18px;
    display: block;
    object-fit: cover;
}
#navpart1 h4{
    font-size: 18px;
    font-weight: 400;
}
#navpart2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:17px;
}
#navpart2 h4{
    font-size: 14px;
    font-weight: 300;
}
#navpart3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
#login{
    height:36px;
    width: 70px;
    border: 0.5px solid black;
    border-radius: 18px;
    background-color: white;
    display: flex;
    align-items: center;
    padding:9px;
}
#login h4{
    font-size: 16px;
    font-weight: 400;
}
#getin{
    height:36px;
    width: 110px;
    border-radius: 18px;
    background-color: rgb(96, 209, 136);
    display: flex;
    align-items:center;
    padding:9px;
}
#getin h4{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
#hero{
    width: 100%;
    height:90%;
    position: relative;
    padding:10px;
}
#hero img{
    width: 100%;
    height:100%;
    border-radius:50px;
    display: block;
    object-fit: cover;
    filter: brightness(60%);
}
#hero-section{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero-section-left{
    height:100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:50px;
    color:white;
    margin-left:130px;
}
#heading-div1 h4{
    font-size: 16px;
    font-weight: 300;
}
#heading-div2 h1{
    font-size: 80px;
    font-weight: 400;
}
#heading-div3{
    display: flex;
    align-items: center;
    gap:60px;
}
.heading-div3-part{
    display: flex;
    align-items: center;
    gap:10px;
    height:40px;
    border-bottom: 1px solid white;
}
#heading-div3 i{
    font-size:14px;
}
#heading-div3 h6{
    font-size: 12px;
    font-weight: 400;
}
#hero-section-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#hero-section-right #part1{
    position: relative;
}
#hero-section-right #part1 {
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding:5px;
    border-radius: 20px;
}
#upper-part{
    display: flex;
    align-items:start;
    justify-content: space-between;
    gap:18px;
}
#upper-part img{
    width:160px;
    height: 160px;
    border-radius:20px;
    display: block;
    object-fit: cover;
    filter: brightness(100%);
}
#upper-part i{
    margin-top: 5px;
    font-size: 25px;
    color:rgb(255, 255, 255,0.8);
    margin-left:5px;
}
#bottom-part{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    gap:50px;
    margin-bottom:2px;
}
#bottom-part i{
    padding:10px;
    color:white;
    height:40px;
    width:40px;
    font-size:20px;
    border: 1px solid rgb(255, 255, 255,0.5);
    border-radius: 20px;
}
#bottom-part h6{
    color:white;
    font-size:15px;
    font-weight: 300;
}
#part2{ 
    height: 180px;
    width:100%;
    background-color: white;
    border-top-left-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
.part2-context h1{
    font-size: 50px;
    font-weight: 300;
}
.part2-context h3{
    font-size:14px;
    font-weight: 300;
}
#page2{
    height:70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}
#page2 #heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}
#page2 #heading h1{
    width: 50%;
    padding:30px;
    font-size: 40px;
    font-weight: 400;
}
#page2 #heading h1 spam{
    color: grey;
}
#page2 #heading h6{
    width:50%;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 300;
    color:rgb(49, 49, 49);
}
#company-names{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}
.company{
    height:200px;
    width: 200px;
    border-radius: 100px;
    background-color: rgb(240,240,240);
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}
#company-1st{
    height:200px;
    width: 200px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
#company-1st img{
    height:50px;
    width:120px;
    object-fit: cover;
}
.company img{
    height:50px;
    width:160px;
    display: block;
    object-fit: cover;
}
#page3{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
    background-color: rgb(240,240,240);
    padding:100px;
}
#page3 #heading h1{
    font-size:50px;
    font-weight: 300;
}
#page3 #heading h1 spam{
    color: grey;
}
#page3 #context{
    height:450px;
    width:100%;
    background-color: white;
    border-radius: 25px;
}
#page3 #context .parts{
    width: 100%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page3 #context .parts .topic{
    width: 33.333%;
    height: 100%;
    border:1px solid rgb(240,240,240);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding:40px;
}
#page3 #context .parts .topic .icon{
    width:50px;
    height:50px;
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
#page3 #context .parts .topic .icon img{
    width:30px;
    height: 30px;
    border-radius:5px;
    display: block;
    object-fit: cover;
}
#page3 #context .parts .topic h3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
}
#page3 #context .parts .topic h4{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    color: gray;
}

